body{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 24px;

}

.answer{
	background-color: lightgray;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	margin-top: 10px;	
	margin-left: 50px;
	margin-right: 50px;
}
img{
	margin-left: 6%;
	margin-bottom: 20px;
}
.container{
	display: none;
}
p, h1, h2, h3, h4{
	text-align: center;
}
button{
	margin-top: 10%;
	margin-left: 45%;

}
.popup{
	display: none;
	width: 350px;
	background-color: white;
	border-width: 30px;
	outline: 2px solid black;
	height: 500px;
	position: absolute;
	top: 10%;
	left: 35%;
	z-index: 1;
}
#correct{
	border-color: darkseagreen;
	border-style: solid;
}
#incorrect{
	border-color: red;
	border-style: solid;
}
#timeout{
	border-color: yellow;
	border-style: solid;
}